@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;    
    background-color: #aacddc;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.img {
    padding: 5px;
    width: 150px;
}

span {
    font-size: 45px;
    color: black;
    font-weight: bold;
    padding-top: 20px;
}

p {
    text-align: center;
    padding: 10px;
}

.container {
    width: 1300px;
    margin: auto;
    max-width: 95%;
}

.form {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

form {
    width: 100%;
}

.ytb-iframe {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 19px;
    width: 100%;
    padding: 13px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
}

button {
    font-family: inherit;
    font-size: large;
    color: white;
    background-color: #0984e3;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
}