@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Staatliches&display=swap');

.container {
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f789;
    width: 30%;
    border-radius: 5px;
}

body {
    background-color: #150476;
    font-family: 'Raleway', sans-serif;
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
    font-family: 'Staatliches', cursive;
    padding-top: 20px;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.bottom {
    padding-bottom: 20px;
}

.btn {
    background: rgba(78, 133, 204, 0.805);
    color: #ffff;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover {
    background: #35393e;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}