@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    overflow: hidden;
    /* Literally didnt think this would work but im literally mind BLOWN */
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1385231/hand-cursor.png"), pointer;
}

#project-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
  
.cover-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
  
.cover-image.start {
    background: url("https://pbs.twimg.com/media/EhBffbkU0AAK3ym?format=jpg&name=large");
    background-size: cover;
    background-position: center center;
}

.cover-image.end {
    clip-path: circle(0% at 50% 50%);
    background: url("https://images.nintendolife.com/be6062145c3f5/1280x720.jpg");
    background-size: cover;
    background-position: center center;
}
  
#plane-svg {
    max-height: 250px;
    max-width: 250px;
    display: flex;
    justify-content: flex-end;
}
  
#logo-svg {
    max-height: 250px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1999cc;
}

#plane-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
