@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    font-family: 'Sedgwick Ave', cursive;
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	transition: background 0.3s ease;
}

.change-btn {
	background-color: #000;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	padding: 20px 50px;
}

.change-btn:active {
	transform: scale(0.98);
}

.change-btn:focus {
	outline: none;
}

.colour-text {
	font-size: 25px;
}