body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
    margin-bottom: 5px;
}


.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
    padding-right: 10px;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 25px;
}

.container-fluid {
    padding: 7% 15%;
}

.color-section {
    color: #fff;
    background-color: #ff4c68; 
}

.white-section {
    background-color: #fff;
}