body {
	--col-right: #6aaa64;
	--col-place: #c9b458;
	--col-wrong: #787c7e;
	--letter: 7vmin;
	--key_w: 7vmin;
	--key_h: 9vmin;
	width: 100vmin;
	height: 100vmin;
	margin: 0 auto;
	font-family: sans-serif;
}

input {
	position: absolute;
	left: -999vmax;
}

label {
	display: block;
	cursor: pointer;
}

h1 {
	margin: 0 auto;
	padding: 0;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

[for="reset"],
[for="col"] {
	position: absolute;
	width: 4vmin;
	height: 4vmin;
	left: calc(50vw + 17vmin);
	top: 2vmin;
}

[for="col"] {
	background: grey;
	border-radius: 50%;
}

[for="reset"] {
	left: calc(50vw - 21vmin);
	font-size: 4vmin;
	line-height: 4vmin;
	font-weight: bold;
	text-align: center;
	color: grey;
}

[for="reset"]::before {
	content: "\21BB";
}

[for="col"]::before {
	content: "";
	position: absolute;
	width: 1.7vmin;
	height: 3.4vmin;
	left: 2vmin;
	top: 0.3vmin;
	background: white;
	border-radius: 0 1.7vmin 1.7vmin 0;
	transform-origin: 0 50%;
}

#col:checked~[for="col"]::before {
	transform: scaleX(-1);
}

#col:checked~form {
	--col-right: #f5793a;
	--col-place: #85c0f9;
	--col-wrong: #787c7e;
}

#info {
	position: absolute;
	width: 54vmin;
	height: 18vmin;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 2vmin;
	background: white;
	border: 0.5vmin grey solid;
	border-radius: 2vmin;
	font-size: 4vmin;
	text-align: center;
}

#info p {
	display: none;
	margin: 0;
	padding: 0;
}

#i2 span {
	background: var(--col-right);
	color: white;
}

#i3 span {
	background: var(--col-place);
	color: white;
}

#i4 span {
	background: var(--col-wrong);
	color: white;
}

[for="rnd"],
#words {
	position: absolute;
	width: 10vmin;
	height: 5vmin;
	left: 50%;
	bottom: 2vmin;
	transform: translateX(-50%);
}

#rnd:checked~#info [for="rnd"] {
	display: none;
}

#words {
	background: red;
	border-radius: 1vmin;
	font-size: 3vmin;
	line-height: 5vmin;
	color: white;
	overflow: hidden;
}

#words::before {
	content: "OK";
	text-align: center;
}

@keyframes shuffle {
	100% {
		top: calc(5vmin * -20);
	}
}

#shuffle {
	position: absolute;
	width: 100%;
	height: calc(5vmin * 20);
	top: 0;
	animation: shuffle 1s steps(20) infinite;
}

#rnd:checked~#info #shuffle {
	animation-play-state: paused;
}

#shuffle label {
	width: 100%;
	height: 5vmin;
	display: none;
}

#shuffle [for^="w1_"],
[id^="w1_"]:checked~#info #shuffle [for^="w2_"],
[id^="w2_"]:checked~#info #shuffle [for^="w3_"],
[id^="w3_"]:checked~#info #shuffle [for^="w4_"],
[id^="w4_"]:checked~#info #shuffle [for^="w5_"],
#info #i0,
[id="rnd"]:checked~#info #i1,
[id^="w1_"]:checked~#info #i2,
[id^="w2_"]:checked~#info #i3,
[id^="w3_"]:checked~#info #i4,
[id^="w4_"]:checked~#info #i5 {
	display: block;
}

[id^="w1_"]:checked~#info #shuffle [for^="w1_"],
[id^="w2_"]:checked~#info #shuffle [for^="w2_"],
[id^="w3_"]:checked~#info #shuffle [for^="w3_"],
[id^="w4_"]:checked~#info #shuffle [for^="w4_"],
[id="rnd"]:checked~#info #i0,
[id^="w1_"]:checked~#info #i1,
[id^="w2_"]:checked~#info #i2,
[id^="w3_"]:checked~#info #i3,
[id^="w4_"]:checked~#info #i4,
[id^="w5_"]:checked~#info #i5,
[id^="w5_"]:checked~#info {
	display: none;
}

#message,
#answer {
	display: none;
	position: absolute;
	width: 30vmin;
	height: 8vmin;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 23vmin;
	transform: translateX(-50%);
	background: #333;
	border-radius: 1vmin;
	color: white;
	text-align: center;
	font-size: 4vmin;
	line-height: 8vmin;
}

#answer {
	text-transform: uppercase;
}

#message::before {
	content: "Genius";
}

[id^="g2-"]:checked~#message::before {
	content: "Magnificent";
}

[id^="g3-"]:checked~#message::before {
	content: "Impressive";
}

[id^="g4-"]:checked~#message::before {
	content: "Splendid";
}

[id^="g5-"]:checked~#message::before {
	content: "Great";
}

[id^="g6-"]:checked~#message::before {
	content: "Phew";
}

[id^="g6-"]:checked~#answer {
	display: block;
}

[id$="-win"]:checked~#message {
	display: block;
}

[id$="-win"]:checked~#keys label,
#g6-check:checked~#keys label {
	pointer-events: none;
}

#letters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(var(--letter) * 6.5);
	margin: 0 auto;
}

#letters div {
	width: var(--letter);
	height: var(--letter);
	margin-bottom: calc(var(--letter) * 0.2);
	border: 0.5vmin silver solid;
	line-height: var(--letter);
	font-size: calc(var(--letter) * 0.6);
	text-align: center;
}

#keys {
	display: flex;
	flex-wrap: wrap;
	width: calc(var(--letter) * 13);
	margin: 0 auto;
	justify-content: center;
}

#keys>label,
#keys>div {
	display: none;
	width: var(--key_w);
	height: var(--key_h);
	margin: 1vmin;
	background: silver;
	border-radius: 1vmin;
	line-height: var(--key_h);
	font-size: calc(var(--key_w) * 0.6);
	text-align: center;
	position: relative;
}

#keys>div label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#keys [for$="_a"] {
	margin-left: 2vmin;
}

#keys [for$="_l"] {
	margin-right: 2vmin;
}

#keys .g1_,
#keys .g2_,
#keys .g3_,
#keys .g4_,
#keys .g5_,
#keys .g6_,
#keys .enter {
	width: calc(var(--key_w) * 1.5);
	font-size: 2.5vmin;
	text-transform: uppercase;
}

#keys .g1_::before,
#keys .g2_::before,
#keys .g3_::before,
#keys .g4_::before,
#keys .g5_::before,
#keys .g6_::before,
#keys .enter::before {
	content: "Enter";
}

#keys [for$="_1"],
#keys [for$="_2"],
#keys [for$="_3"],
#keys [for$="_4"],
#keys [for$="_5"] {
	width: calc(var(--key_w) * 1.5);
	font-size: 3.5vmin;
}

#keys [for$="_1"]::before,
#keys [for$="_2"]::before,
#keys [for$="_3"]::before,
#keys [for$="_4"]::before,
#keys [for$="_5"]::before {
	content: "\232B";
}

#keys .enter {
	overflow: hidden;
	position: relative;
}

#keys [for$="-win"] {
	position: absolute;
	display: none;
	visibility: hidden;
	opacity: 0;
	left: -200vw;
	top: -200vh;
}

#keys [for^="g1_1_"],
#keys [for="g1_1"],
#keys .g1_,
[id^="g1_1_"]:checked~#keys [for^="g1_2_"],
[id^="g1_1_"]:checked~#keys [for="g1_1"],
[id^="g1_2_"]:checked~#keys [for^="g1_3_"],
[id^="g1_2_"]:checked~#keys [for="g1_2"],
[id^="g1_3_"]:checked~#keys [for^="g1_4_"],
[id^="g1_3_"]:checked~#keys [for="g1_3"],
[id^="g1_4_"]:checked~#keys [for^="g1_5_"],
[id^="g1_4_"]:checked~#keys [for="g1_4"],
[id^="g1_5_"]:checked~#keys .e1,
[id^="g1_5_"]:checked~#keys [for="g1_5"],
[id^="g1-"]:checked~#keys [for^="g2_1_"],
[id^="g1-"]:checked~#keys [for="g2_1"],
[id^="g1-"]:checked~#keys .g2_,
[id^="g2_1_"]:checked~#keys [for^="g2_2_"],
[id^="g2_1_"]:checked~#keys [for="g2_1"],
[id^="g2_2_"]:checked~#keys [for^="g2_3_"],
[id^="g2_2_"]:checked~#keys [for="g2_2"],
[id^="g2_3_"]:checked~#keys [for^="g2_4_"],
[id^="g2_3_"]:checked~#keys [for="g2_3"],
[id^="g2_4_"]:checked~#keys [for^="g2_5_"],
[id^="g2_4_"]:checked~#keys [for="g2_4"],
[id^="g2_5_"]:checked~#keys .e2,
[id^="g2_5_"]:checked~#keys [for="g2_5"],
[id^="g2-"]:checked~#keys [for^="g3_1_"],
[id^="g2-"]:checked~#keys [for="g3_1"],
[id^="g2-"]:checked~#keys .g3_,
[id^="g3_1_"]:checked~#keys [for^="g3_2_"],
[id^="g3_1_"]:checked~#keys [for="g3_1"],
[id^="g3_2_"]:checked~#keys [for^="g3_3_"],
[id^="g3_2_"]:checked~#keys [for="g3_2"],
[id^="g3_3_"]:checked~#keys [for^="g3_4_"],
[id^="g3_3_"]:checked~#keys [for="g3_3"],
[id^="g3_4_"]:checked~#keys [for^="g3_5_"],
[id^="g3_4_"]:checked~#keys [for="g3_4"],
[id^="g3_5_"]:checked~#keys .e3,
[id^="g3_5_"]:checked~#keys [for="g3_5"],
[id^="g3-"]:checked~#keys [for^="g4_1_"],
[id^="g3-"]:checked~#keys [for="g4_1"],
[id^="g3-"]:checked~#keys .g4_,
[id^="g4_1_"]:checked~#keys [for^="g4_2_"],
[id^="g4_1_"]:checked~#keys [for="g4_1"],
[id^="g4_2_"]:checked~#keys [for^="g4_3_"],
[id^="g4_2_"]:checked~#keys [for="g4_2"],
[id^="g4_3_"]:checked~#keys [for^="g4_4_"],
[id^="g4_3_"]:checked~#keys [for="g4_3"],
[id^="g4_4_"]:checked~#keys [for^="g4_5_"],
[id^="g4_4_"]:checked~#keys [for="g4_4"],
[id^="g4_5_"]:checked~#keys .e4,
[id^="g4_5_"]:checked~#keys [for="g4_5"],
[id^="g4-"]:checked~#keys [for^="g5_1_"],
[id^="g4-"]:checked~#keys [for="g5_1"],
[id^="g4-"]:checked~#keys .g5_,
[id^="g5_1_"]:checked~#keys [for^="g5_2_"],
[id^="g5_1_"]:checked~#keys [for="g5_1"],
[id^="g5_2_"]:checked~#keys [for^="g5_3_"],
[id^="g5_2_"]:checked~#keys [for="g5_2"],
[id^="g5_3_"]:checked~#keys [for^="g5_4_"],
[id^="g5_3_"]:checked~#keys [for="g5_3"],
[id^="g5_4_"]:checked~#keys [for^="g5_5_"],
[id^="g5_4_"]:checked~#keys [for="g5_4"],
[id^="g5_5_"]:checked~#keys .e5,
[id^="g5_5_"]:checked~#keys [for="g5_5"],
[id^="g5-"]:checked~#keys [for^="g6_1_"],
[id^="g5-"]:checked~#keys [for="g6_1"],
[id^="g5-"]:checked~#keys .g6_,
[id^="g6_1_"]:checked~#keys [for^="g6_2_"],
[id^="g6_1_"]:checked~#keys [for="g6_1"],
[id^="g6_2_"]:checked~#keys [for^="g6_3_"],
[id^="g6_2_"]:checked~#keys [for="g6_2"],
[id^="g6_3_"]:checked~#keys [for^="g6_4_"],
[id^="g6_3_"]:checked~#keys [for="g6_3"],
[id^="g6_4_"]:checked~#keys [for^="g6_5_"],
[id^="g6_4_"]:checked~#keys [for="g6_4"],
[id^="g6_5_"]:checked~#keys .e6,
[id^="g6_5_"]:checked~#keys [for="g6_5"] {
	display: block;
}

[id^="g1_1_"]:checked~#keys [for^="g1_1_"],
[id^="g1_2_"]:checked~#keys [for^="g1_2_"],
[id^="g1_2_"]:checked~#keys [for="g1_1"],
[id^="g1_3_"]:checked~#keys [for^="g1_3_"],
[id^="g1_3_"]:checked~#keys [for="g1_2"],
[id^="g1_4_"]:checked~#keys [for^="g1_4_"],
[id^="g1_4_"]:checked~#keys [for="g1_3"],
[id^="g1_5_"]:checked~#keys [for="g1_4"],
[id^="g1_5_"]:checked~#keys .g1_,
[id^="g1-"]:checked~#keys [for^="g1"],
[id^="g1-"]:checked~#keys [for="g1_5"],
[id^="g1-"]:checked~#keys .e1,
[id^="g2_1_"]:checked~#keys [for^="g2_1_"],
[id^="g2_2_"]:checked~#keys [for^="g2_2_"],
[id^="g2_2_"]:checked~#keys [for="g2_1"],
[id^="g2_3_"]:checked~#keys [for^="g2_3_"],
[id^="g2_3_"]:checked~#keys [for="g2_2"],
[id^="g2_4_"]:checked~#keys [for^="g2_4_"],
[id^="g2_4_"]:checked~#keys [for="g2_3"],
[id^="g2_5_"]:checked~#keys [for="g2_4"],
[id^="g2_5_"]:checked~#keys .g2_,
[id^="g2-"]:checked~#keys [for^="g2"],
[id^="g2-"]:checked~#keys [for="g2_5"],
[id^="g2-"]:checked~#keys .e2,
[id^="g3_1_"]:checked~#keys [for^="g3_1_"],
[id^="g3_2_"]:checked~#keys [for^="g3_2_"],
[id^="g3_2_"]:checked~#keys [for="g3_1"],
[id^="g3_3_"]:checked~#keys [for^="g3_3_"],
[id^="g3_3_"]:checked~#keys [for="g3_2"],
[id^="g3_4_"]:checked~#keys [for^="g3_4_"],
[id^="g3_4_"]:checked~#keys [for="g3_3"],
[id^="g3_5_"]:checked~#keys [for="g3_4"],
[id^="g3_5_"]:checked~#keys .g3_,
[id^="g3-"]:checked~#keys [for^="g3"],
[id^="g3-"]:checked~#keys [for="g3_5"],
[id^="g3-"]:checked~#keys .e3,
[id^="g4_1_"]:checked~#keys [for^="g4_1_"],
[id^="g4_2_"]:checked~#keys [for^="g4_2_"],
[id^="g4_2_"]:checked~#keys [for="g4_1"],
[id^="g4_3_"]:checked~#keys [for^="g4_3_"],
[id^="g4_3_"]:checked~#keys [for="g4_2"],
[id^="g4_4_"]:checked~#keys [for^="g4_4_"],
[id^="g4_4_"]:checked~#keys [for="g4_3"],
[id^="g4_5_"]:checked~#keys [for="g4_4"],
[id^="g4_5_"]:checked~#keys .g4_,
[id^="g4-"]:checked~#keys [for^="g4"],
[id^="g4-"]:checked~#keys [for="g4_5"],
[id^="g4-"]:checked~#keys .e4,
[id^="g5_1_"]:checked~#keys [for^="g5_1_"],
[id^="g5_2_"]:checked~#keys [for^="g5_2_"],
[id^="g5_2_"]:checked~#keys [for="g5_1"],
[id^="g5_3_"]:checked~#keys [for^="g5_3_"],
[id^="g5_3_"]:checked~#keys [for="g5_2"],
[id^="g5_4_"]:checked~#keys [for^="g5_4_"],
[id^="g5_4_"]:checked~#keys [for="g5_3"],
[id^="g5_5_"]:checked~#keys [for="g5_4"],
[id^="g5_5_"]:checked~#keys .g5_,
[id^="g5-"]:checked~#keys [for^="g5"],
[id^="g5-"]:checked~#keys [for="g5_5"],
[id^="g5-"]:checked~#keys .e5,
[id^="g6_1_"]:checked~#keys [for^="g6_1_"],
[id^="g6_2_"]:checked~#keys [for^="g6_2_"],
[id^="g6_2_"]:checked~#keys [for="g6_1"],
[id^="g6_3_"]:checked~#keys [for^="g6_3_"],
[id^="g6_3_"]:checked~#keys [for="g6_2"],
[id^="g6_4_"]:checked~#keys [for^="g6_4_"],
[id^="g6_4_"]:checked~#keys [for="g6_3"],
[id^="g6_5_"]:checked~#keys [for="g6_4"],
[id^="g6_5_"]:checked~#keys .g6_ {
	display: none;
}

#w1_a:checked~#answer #a1::before,
#w2_a:checked~#answer #a2::before,
#w3_a:checked~#answer #a3::before,
#w4_a:checked~#answer #a4::before,
#w5_a:checked~#answer #a5::before,
#g1_1_a:checked~#letters #l1_1::before,
#g1_2_a:checked~#letters #l1_2::before,
#g1_3_a:checked~#letters #l1_3::before,
#g1_4_a:checked~#letters #l1_4::before,
#g1_5_a:checked~#letters #l1_5::before,
#g2_1_a:checked~#letters #l2_1::before,
#g2_2_a:checked~#letters #l2_2::before,
#g2_3_a:checked~#letters #l2_3::before,
#g2_4_a:checked~#letters #l2_4::before,
#g2_5_a:checked~#letters #l2_5::before,
#g3_1_a:checked~#letters #l3_1::before,
#g3_2_a:checked~#letters #l3_2::before,
#g3_3_a:checked~#letters #l3_3::before,
#g3_4_a:checked~#letters #l3_4::before,
#g3_5_a:checked~#letters #l3_5::before,
#g4_1_a:checked~#letters #l4_1::before,
#g4_2_a:checked~#letters #l4_2::before,
#g4_3_a:checked~#letters #l4_3::before,
#g4_4_a:checked~#letters #l4_4::before,
#g4_5_a:checked~#letters #l4_5::before,
#g5_1_a:checked~#letters #l5_1::before,
#g5_2_a:checked~#letters #l5_2::before,
#g5_3_a:checked~#letters #l5_3::before,
#g5_4_a:checked~#letters #l5_4::before,
#g5_5_a:checked~#letters #l5_5::before,
#g6_1_a:checked~#letters #l6_1::before,
#g6_2_a:checked~#letters #l6_2::before,
#g6_3_a:checked~#letters #l6_3::before,
#g6_4_a:checked~#letters #l6_4::before,
#g6_5_a:checked~#letters #l6_5::before,
#keys [for$="_a"]::before {
	content: "A";
}

#w1_b:checked~#answer #a1::before,
#w2_b:checked~#answer #a2::before,
#w3_b:checked~#answer #a3::before,
#w4_b:checked~#answer #a4::before,
#w5_b:checked~#answer #a5::before,
#g1_1_b:checked~#letters #l1_1::before,
#g1_2_b:checked~#letters #l1_2::before,
#g1_3_b:checked~#letters #l1_3::before,
#g1_4_b:checked~#letters #l1_4::before,
#g1_5_b:checked~#letters #l1_5::before,
#g2_1_b:checked~#letters #l2_1::before,
#g2_2_b:checked~#letters #l2_2::before,
#g2_3_b:checked~#letters #l2_3::before,
#g2_4_b:checked~#letters #l2_4::before,
#g2_5_b:checked~#letters #l2_5::before,
#g3_1_b:checked~#letters #l3_1::before,
#g3_2_b:checked~#letters #l3_2::before,
#g3_3_b:checked~#letters #l3_3::before,
#g3_4_b:checked~#letters #l3_4::before,
#g3_5_b:checked~#letters #l3_5::before,
#g4_1_b:checked~#letters #l4_1::before,
#g4_2_b:checked~#letters #l4_2::before,
#g4_3_b:checked~#letters #l4_3::before,
#g4_4_b:checked~#letters #l4_4::before,
#g4_5_b:checked~#letters #l4_5::before,
#g5_1_b:checked~#letters #l5_1::before,
#g5_2_b:checked~#letters #l5_2::before,
#g5_3_b:checked~#letters #l5_3::before,
#g5_4_b:checked~#letters #l5_4::before,
#g5_5_b:checked~#letters #l5_5::before,
#g6_1_b:checked~#letters #l6_1::before,
#g6_2_b:checked~#letters #l6_2::before,
#g6_3_b:checked~#letters #l6_3::before,
#g6_4_b:checked~#letters #l6_4::before,
#g6_5_b:checked~#letters #l6_5::before,
#keys [for$="_b"]::before {
	content: "B";
}

#w1_c:checked~#answer #a1::before,
#w2_c:checked~#answer #a2::before,
#w3_c:checked~#answer #a3::before,
#w4_c:checked~#answer #a4::before,
#w5_c:checked~#answer #a5::before,
#g1_1_c:checked~#letters #l1_1::before,
#g1_2_c:checked~#letters #l1_2::before,
#g1_3_c:checked~#letters #l1_3::before,
#g1_4_c:checked~#letters #l1_4::before,
#g1_5_c:checked~#letters #l1_5::before,
#g2_1_c:checked~#letters #l2_1::before,
#g2_2_c:checked~#letters #l2_2::before,
#g2_3_c:checked~#letters #l2_3::before,
#g2_4_c:checked~#letters #l2_4::before,
#g2_5_c:checked~#letters #l2_5::before,
#g3_1_c:checked~#letters #l3_1::before,
#g3_2_c:checked~#letters #l3_2::before,
#g3_3_c:checked~#letters #l3_3::before,
#g3_4_c:checked~#letters #l3_4::before,
#g3_5_c:checked~#letters #l3_5::before,
#g4_1_c:checked~#letters #l4_1::before,
#g4_2_c:checked~#letters #l4_2::before,
#g4_3_c:checked~#letters #l4_3::before,
#g4_4_c:checked~#letters #l4_4::before,
#g4_5_c:checked~#letters #l4_5::before,
#g5_1_c:checked~#letters #l5_1::before,
#g5_2_c:checked~#letters #l5_2::before,
#g5_3_c:checked~#letters #l5_3::before,
#g5_4_c:checked~#letters #l5_4::before,
#g5_5_c:checked~#letters #l5_5::before,
#g6_1_c:checked~#letters #l6_1::before,
#g6_2_c:checked~#letters #l6_2::before,
#g6_3_c:checked~#letters #l6_3::before,
#g6_4_c:checked~#letters #l6_4::before,
#g6_5_c:checked~#letters #l6_5::before,
#keys [for$="_c"]::before {
	content: "C";
}

#w1_d:checked~#answer #a1::before,
#w2_d:checked~#answer #a2::before,
#w3_d:checked~#answer #a3::before,
#w4_d:checked~#answer #a4::before,
#w5_d:checked~#answer #a5::before,
#g1_1_d:checked~#letters #l1_1::before,
#g1_2_d:checked~#letters #l1_2::before,
#g1_3_d:checked~#letters #l1_3::before,
#g1_4_d:checked~#letters #l1_4::before,
#g1_5_d:checked~#letters #l1_5::before,
#g2_1_d:checked~#letters #l2_1::before,
#g2_2_d:checked~#letters #l2_2::before,
#g2_3_d:checked~#letters #l2_3::before,
#g2_4_d:checked~#letters #l2_4::before,
#g2_5_d:checked~#letters #l2_5::before,
#g3_1_d:checked~#letters #l3_1::before,
#g3_2_d:checked~#letters #l3_2::before,
#g3_3_d:checked~#letters #l3_3::before,
#g3_4_d:checked~#letters #l3_4::before,
#g3_5_d:checked~#letters #l3_5::before,
#g4_1_d:checked~#letters #l4_1::before,
#g4_2_d:checked~#letters #l4_2::before,
#g4_3_d:checked~#letters #l4_3::before,
#g4_4_d:checked~#letters #l4_4::before,
#g4_5_d:checked~#letters #l4_5::before,
#g5_1_d:checked~#letters #l5_1::before,
#g5_2_d:checked~#letters #l5_2::before,
#g5_3_d:checked~#letters #l5_3::before,
#g5_4_d:checked~#letters #l5_4::before,
#g5_5_d:checked~#letters #l5_5::before,
#g6_1_d:checked~#letters #l6_1::before,
#g6_2_d:checked~#letters #l6_2::before,
#g6_3_d:checked~#letters #l6_3::before,
#g6_4_d:checked~#letters #l6_4::before,
#g6_5_d:checked~#letters #l6_5::before,
#keys [for$="_d"]::before {
	content: "D";
}

#w1_e:checked~#answer #a1::before,
#w2_e:checked~#answer #a2::before,
#w3_e:checked~#answer #a3::before,
#w4_e:checked~#answer #a4::before,
#w5_e:checked~#answer #a5::before,
#g1_1_e:checked~#letters #l1_1::before,
#g1_2_e:checked~#letters #l1_2::before,
#g1_3_e:checked~#letters #l1_3::before,
#g1_4_e:checked~#letters #l1_4::before,
#g1_5_e:checked~#letters #l1_5::before,
#g2_1_e:checked~#letters #l2_1::before,
#g2_2_e:checked~#letters #l2_2::before,
#g2_3_e:checked~#letters #l2_3::before,
#g2_4_e:checked~#letters #l2_4::before,
#g2_5_e:checked~#letters #l2_5::before,
#g3_1_e:checked~#letters #l3_1::before,
#g3_2_e:checked~#letters #l3_2::before,
#g3_3_e:checked~#letters #l3_3::before,
#g3_4_e:checked~#letters #l3_4::before,
#g3_5_e:checked~#letters #l3_5::before,
#g4_1_e:checked~#letters #l4_1::before,
#g4_2_e:checked~#letters #l4_2::before,
#g4_3_e:checked~#letters #l4_3::before,
#g4_4_e:checked~#letters #l4_4::before,
#g4_5_e:checked~#letters #l4_5::before,
#g5_1_e:checked~#letters #l5_1::before,
#g5_2_e:checked~#letters #l5_2::before,
#g5_3_e:checked~#letters #l5_3::before,
#g5_4_e:checked~#letters #l5_4::before,
#g5_5_e:checked~#letters #l5_5::before,
#g6_1_e:checked~#letters #l6_1::before,
#g6_2_e:checked~#letters #l6_2::before,
#g6_3_e:checked~#letters #l6_3::before,
#g6_4_e:checked~#letters #l6_4::before,
#g6_5_e:checked~#letters #l6_5::before,
#keys [for$="_e"]::before {
	content: "E";
}

#w1_f:checked~#answer #a1::before,
#w2_f:checked~#answer #a2::before,
#w3_f:checked~#answer #a3::before,
#w4_f:checked~#answer #a4::before,
#w5_f:checked~#answer #a5::before,
#g1_1_f:checked~#letters #l1_1::before,
#g1_2_f:checked~#letters #l1_2::before,
#g1_3_f:checked~#letters #l1_3::before,
#g1_4_f:checked~#letters #l1_4::before,
#g1_5_f:checked~#letters #l1_5::before,
#g2_1_f:checked~#letters #l2_1::before,
#g2_2_f:checked~#letters #l2_2::before,
#g2_3_f:checked~#letters #l2_3::before,
#g2_4_f:checked~#letters #l2_4::before,
#g2_5_f:checked~#letters #l2_5::before,
#g3_1_f:checked~#letters #l3_1::before,
#g3_2_f:checked~#letters #l3_2::before,
#g3_3_f:checked~#letters #l3_3::before,
#g3_4_f:checked~#letters #l3_4::before,
#g3_5_f:checked~#letters #l3_5::before,
#g4_1_f:checked~#letters #l4_1::before,
#g4_2_f:checked~#letters #l4_2::before,
#g4_3_f:checked~#letters #l4_3::before,
#g4_4_f:checked~#letters #l4_4::before,
#g4_5_f:checked~#letters #l4_5::before,
#g5_1_f:checked~#letters #l5_1::before,
#g5_2_f:checked~#letters #l5_2::before,
#g5_3_f:checked~#letters #l5_3::before,
#g5_4_f:checked~#letters #l5_4::before,
#g5_5_f:checked~#letters #l5_5::before,
#g6_1_f:checked~#letters #l6_1::before,
#g6_2_f:checked~#letters #l6_2::before,
#g6_3_f:checked~#letters #l6_3::before,
#g6_4_f:checked~#letters #l6_4::before,
#g6_5_f:checked~#letters #l6_5::before,
#keys [for$="_f"]::before {
	content: "F";
}

#w1_g:checked~#answer #a1::before,
#w2_g:checked~#answer #a2::before,
#w3_g:checked~#answer #a3::before,
#w4_g:checked~#answer #a4::before,
#w5_g:checked~#answer #a5::before,
#g1_1_g:checked~#letters #l1_1::before,
#g1_2_g:checked~#letters #l1_2::before,
#g1_3_g:checked~#letters #l1_3::before,
#g1_4_g:checked~#letters #l1_4::before,
#g1_5_g:checked~#letters #l1_5::before,
#g2_1_g:checked~#letters #l2_1::before,
#g2_2_g:checked~#letters #l2_2::before,
#g2_3_g:checked~#letters #l2_3::before,
#g2_4_g:checked~#letters #l2_4::before,
#g2_5_g:checked~#letters #l2_5::before,
#g3_1_g:checked~#letters #l3_1::before,
#g3_2_g:checked~#letters #l3_2::before,
#g3_3_g:checked~#letters #l3_3::before,
#g3_4_g:checked~#letters #l3_4::before,
#g3_5_g:checked~#letters #l3_5::before,
#g4_1_g:checked~#letters #l4_1::before,
#g4_2_g:checked~#letters #l4_2::before,
#g4_3_g:checked~#letters #l4_3::before,
#g4_4_g:checked~#letters #l4_4::before,
#g4_5_g:checked~#letters #l4_5::before,
#g5_1_g:checked~#letters #l5_1::before,
#g5_2_g:checked~#letters #l5_2::before,
#g5_3_g:checked~#letters #l5_3::before,
#g5_4_g:checked~#letters #l5_4::before,
#g5_5_g:checked~#letters #l5_5::before,
#g6_1_g:checked~#letters #l6_1::before,
#g6_2_g:checked~#letters #l6_2::before,
#g6_3_g:checked~#letters #l6_3::before,
#g6_4_g:checked~#letters #l6_4::before,
#g6_5_g:checked~#letters #l6_5::before,
#keys [for$="_g"]::before {
	content: "G";
}

#w1_h:checked~#answer #a1::before,
#w2_h:checked~#answer #a2::before,
#w3_h:checked~#answer #a3::before,
#w4_h:checked~#answer #a4::before,
#w5_h:checked~#answer #a5::before,
#g1_1_h:checked~#letters #l1_1::before,
#g1_2_h:checked~#letters #l1_2::before,
#g1_3_h:checked~#letters #l1_3::before,
#g1_4_h:checked~#letters #l1_4::before,
#g1_5_h:checked~#letters #l1_5::before,
#g2_1_h:checked~#letters #l2_1::before,
#g2_2_h:checked~#letters #l2_2::before,
#g2_3_h:checked~#letters #l2_3::before,
#g2_4_h:checked~#letters #l2_4::before,
#g2_5_h:checked~#letters #l2_5::before,
#g3_1_h:checked~#letters #l3_1::before,
#g3_2_h:checked~#letters #l3_2::before,
#g3_3_h:checked~#letters #l3_3::before,
#g3_4_h:checked~#letters #l3_4::before,
#g3_5_h:checked~#letters #l3_5::before,
#g4_1_h:checked~#letters #l4_1::before,
#g4_2_h:checked~#letters #l4_2::before,
#g4_3_h:checked~#letters #l4_3::before,
#g4_4_h:checked~#letters #l4_4::before,
#g4_5_h:checked~#letters #l4_5::before,
#g5_1_h:checked~#letters #l5_1::before,
#g5_2_h:checked~#letters #l5_2::before,
#g5_3_h:checked~#letters #l5_3::before,
#g5_4_h:checked~#letters #l5_4::before,
#g5_5_h:checked~#letters #l5_5::before,
#g6_1_h:checked~#letters #l6_1::before,
#g6_2_h:checked~#letters #l6_2::before,
#g6_3_h:checked~#letters #l6_3::before,
#g6_4_h:checked~#letters #l6_4::before,
#g6_5_h:checked~#letters #l6_5::before,
#keys [for$="_h"]::before {
	content: "H";
}

#w1_i:checked~#answer #a1::before,
#w2_i:checked~#answer #a2::before,
#w3_i:checked~#answer #a3::before,
#w4_i:checked~#answer #a4::before,
#w5_i:checked~#answer #a5::before,
#g1_1_i:checked~#letters #l1_1::before,
#g1_2_i:checked~#letters #l1_2::before,
#g1_3_i:checked~#letters #l1_3::before,
#g1_4_i:checked~#letters #l1_4::before,
#g1_5_i:checked~#letters #l1_5::before,
#g2_1_i:checked~#letters #l2_1::before,
#g2_2_i:checked~#letters #l2_2::before,
#g2_3_i:checked~#letters #l2_3::before,
#g2_4_i:checked~#letters #l2_4::before,
#g2_5_i:checked~#letters #l2_5::before,
#g3_1_i:checked~#letters #l3_1::before,
#g3_2_i:checked~#letters #l3_2::before,
#g3_3_i:checked~#letters #l3_3::before,
#g3_4_i:checked~#letters #l3_4::before,
#g3_5_i:checked~#letters #l3_5::before,
#g4_1_i:checked~#letters #l4_1::before,
#g4_2_i:checked~#letters #l4_2::before,
#g4_3_i:checked~#letters #l4_3::before,
#g4_4_i:checked~#letters #l4_4::before,
#g4_5_i:checked~#letters #l4_5::before,
#g5_1_i:checked~#letters #l5_1::before,
#g5_2_i:checked~#letters #l5_2::before,
#g5_3_i:checked~#letters #l5_3::before,
#g5_4_i:checked~#letters #l5_4::before,
#g5_5_i:checked~#letters #l5_5::before,
#g6_1_i:checked~#letters #l6_1::before,
#g6_2_i:checked~#letters #l6_2::before,
#g6_3_i:checked~#letters #l6_3::before,
#g6_4_i:checked~#letters #l6_4::before,
#g6_5_i:checked~#letters #l6_5::before,
#keys [for$="_i"]::before {
	content: "I";
}

#w1_j:checked~#answer #a1::before,
#w2_j:checked~#answer #a2::before,
#w3_j:checked~#answer #a3::before,
#w4_j:checked~#answer #a4::before,
#w5_j:checked~#answer #a5::before,
#g1_1_j:checked~#letters #l1_1::before,
#g1_2_j:checked~#letters #l1_2::before,
#g1_3_j:checked~#letters #l1_3::before,
#g1_4_j:checked~#letters #l1_4::before,
#g1_5_j:checked~#letters #l1_5::before,
#g2_1_j:checked~#letters #l2_1::before,
#g2_2_j:checked~#letters #l2_2::before,
#g2_3_j:checked~#letters #l2_3::before,
#g2_4_j:checked~#letters #l2_4::before,
#g2_5_j:checked~#letters #l2_5::before,
#g3_1_j:checked~#letters #l3_1::before,
#g3_2_j:checked~#letters #l3_2::before,
#g3_3_j:checked~#letters #l3_3::before,
#g3_4_j:checked~#letters #l3_4::before,
#g3_5_j:checked~#letters #l3_5::before,
#g4_1_j:checked~#letters #l4_1::before,
#g4_2_j:checked~#letters #l4_2::before,
#g4_3_j:checked~#letters #l4_3::before,
#g4_4_j:checked~#letters #l4_4::before,
#g4_5_j:checked~#letters #l4_5::before,
#g5_1_j:checked~#letters #l5_1::before,
#g5_2_j:checked~#letters #l5_2::before,
#g5_3_j:checked~#letters #l5_3::before,
#g5_4_j:checked~#letters #l5_4::before,
#g5_5_j:checked~#letters #l5_5::before,
#g6_1_j:checked~#letters #l6_1::before,
#g6_2_j:checked~#letters #l6_2::before,
#g6_3_j:checked~#letters #l6_3::before,
#g6_4_j:checked~#letters #l6_4::before,
#g6_5_j:checked~#letters #l6_5::before,
#keys [for$="_j"]::before {
	content: "J";
}

#w1_k:checked~#answer #a1::before,
#w2_k:checked~#answer #a2::before,
#w3_k:checked~#answer #a3::before,
#w4_k:checked~#answer #a4::before,
#w5_k:checked~#answer #a5::before,
#g1_1_k:checked~#letters #l1_1::before,
#g1_2_k:checked~#letters #l1_2::before,
#g1_3_k:checked~#letters #l1_3::before,
#g1_4_k:checked~#letters #l1_4::before,
#g1_5_k:checked~#letters #l1_5::before,
#g2_1_k:checked~#letters #l2_1::before,
#g2_2_k:checked~#letters #l2_2::before,
#g2_3_k:checked~#letters #l2_3::before,
#g2_4_k:checked~#letters #l2_4::before,
#g2_5_k:checked~#letters #l2_5::before,
#g3_1_k:checked~#letters #l3_1::before,
#g3_2_k:checked~#letters #l3_2::before,
#g3_3_k:checked~#letters #l3_3::before,
#g3_4_k:checked~#letters #l3_4::before,
#g3_5_k:checked~#letters #l3_5::before,
#g4_1_k:checked~#letters #l4_1::before,
#g4_2_k:checked~#letters #l4_2::before,
#g4_3_k:checked~#letters #l4_3::before,
#g4_4_k:checked~#letters #l4_4::before,
#g4_5_k:checked~#letters #l4_5::before,
#g5_1_k:checked~#letters #l5_1::before,
#g5_2_k:checked~#letters #l5_2::before,
#g5_3_k:checked~#letters #l5_3::before,
#g5_4_k:checked~#letters #l5_4::before,
#g5_5_k:checked~#letters #l5_5::before,
#g6_1_k:checked~#letters #l6_1::before,
#g6_2_k:checked~#letters #l6_2::before,
#g6_3_k:checked~#letters #l6_3::before,
#g6_4_k:checked~#letters #l6_4::before,
#g6_5_k:checked~#letters #l6_5::before,
#keys [for$="_k"]::before {
	content: "K";
}

#w1_l:checked~#answer #a1::before,
#w2_l:checked~#answer #a2::before,
#w3_l:checked~#answer #a3::before,
#w4_l:checked~#answer #a4::before,
#w5_l:checked~#answer #a5::before,
#g1_1_l:checked~#letters #l1_1::before,
#g1_2_l:checked~#letters #l1_2::before,
#g1_3_l:checked~#letters #l1_3::before,
#g1_4_l:checked~#letters #l1_4::before,
#g1_5_l:checked~#letters #l1_5::before,
#g2_1_l:checked~#letters #l2_1::before,
#g2_2_l:checked~#letters #l2_2::before,
#g2_3_l:checked~#letters #l2_3::before,
#g2_4_l:checked~#letters #l2_4::before,
#g2_5_l:checked~#letters #l2_5::before,
#g3_1_l:checked~#letters #l3_1::before,
#g3_2_l:checked~#letters #l3_2::before,
#g3_3_l:checked~#letters #l3_3::before,
#g3_4_l:checked~#letters #l3_4::before,
#g3_5_l:checked~#letters #l3_5::before,
#g4_1_l:checked~#letters #l4_1::before,
#g4_2_l:checked~#letters #l4_2::before,
#g4_3_l:checked~#letters #l4_3::before,
#g4_4_l:checked~#letters #l4_4::before,
#g4_5_l:checked~#letters #l4_5::before,
#g5_1_l:checked~#letters #l5_1::before,
#g5_2_l:checked~#letters #l5_2::before,
#g5_3_l:checked~#letters #l5_3::before,
#g5_4_l:checked~#letters #l5_4::before,
#g5_5_l:checked~#letters #l5_5::before,
#g6_1_l:checked~#letters #l6_1::before,
#g6_2_l:checked~#letters #l6_2::before,
#g6_3_l:checked~#letters #l6_3::before,
#g6_4_l:checked~#letters #l6_4::before,
#g6_5_l:checked~#letters #l6_5::before,
#keys [for$="_l"]::before {
	content: "L";
}

#w1_m:checked~#answer #a1::before,
#w2_m:checked~#answer #a2::before,
#w3_m:checked~#answer #a3::before,
#w4_m:checked~#answer #a4::before,
#w5_m:checked~#answer #a5::before,
#g1_1_m:checked~#letters #l1_1::before,
#g1_2_m:checked~#letters #l1_2::before,
#g1_3_m:checked~#letters #l1_3::before,
#g1_4_m:checked~#letters #l1_4::before,
#g1_5_m:checked~#letters #l1_5::before,
#g2_1_m:checked~#letters #l2_1::before,
#g2_2_m:checked~#letters #l2_2::before,
#g2_3_m:checked~#letters #l2_3::before,
#g2_4_m:checked~#letters #l2_4::before,
#g2_5_m:checked~#letters #l2_5::before,
#g3_1_m:checked~#letters #l3_1::before,
#g3_2_m:checked~#letters #l3_2::before,
#g3_3_m:checked~#letters #l3_3::before,
#g3_4_m:checked~#letters #l3_4::before,
#g3_5_m:checked~#letters #l3_5::before,
#g4_1_m:checked~#letters #l4_1::before,
#g4_2_m:checked~#letters #l4_2::before,
#g4_3_m:checked~#letters #l4_3::before,
#g4_4_m:checked~#letters #l4_4::before,
#g4_5_m:checked~#letters #l4_5::before,
#g5_1_m:checked~#letters #l5_1::before,
#g5_2_m:checked~#letters #l5_2::before,
#g5_3_m:checked~#letters #l5_3::before,
#g5_4_m:checked~#letters #l5_4::before,
#g5_5_m:checked~#letters #l5_5::before,
#g6_1_m:checked~#letters #l6_1::before,
#g6_2_m:checked~#letters #l6_2::before,
#g6_3_m:checked~#letters #l6_3::before,
#g6_4_m:checked~#letters #l6_4::before,
#g6_5_m:checked~#letters #l6_5::before,
#keys [for$="_m"]::before {
	content: "M";
}

#w1_n:checked~#answer #a1::before,
#w2_n:checked~#answer #a2::before,
#w3_n:checked~#answer #a3::before,
#w4_n:checked~#answer #a4::before,
#w5_n:checked~#answer #a5::before,
#g1_1_n:checked~#letters #l1_1::before,
#g1_2_n:checked~#letters #l1_2::before,
#g1_3_n:checked~#letters #l1_3::before,
#g1_4_n:checked~#letters #l1_4::before,
#g1_5_n:checked~#letters #l1_5::before,
#g2_1_n:checked~#letters #l2_1::before,
#g2_2_n:checked~#letters #l2_2::before,
#g2_3_n:checked~#letters #l2_3::before,
#g2_4_n:checked~#letters #l2_4::before,
#g2_5_n:checked~#letters #l2_5::before,
#g3_1_n:checked~#letters #l3_1::before,
#g3_2_n:checked~#letters #l3_2::before,
#g3_3_n:checked~#letters #l3_3::before,
#g3_4_n:checked~#letters #l3_4::before,
#g3_5_n:checked~#letters #l3_5::before,
#g4_1_n:checked~#letters #l4_1::before,
#g4_2_n:checked~#letters #l4_2::before,
#g4_3_n:checked~#letters #l4_3::before,
#g4_4_n:checked~#letters #l4_4::before,
#g4_5_n:checked~#letters #l4_5::before,
#g5_1_n:checked~#letters #l5_1::before,
#g5_2_n:checked~#letters #l5_2::before,
#g5_3_n:checked~#letters #l5_3::before,
#g5_4_n:checked~#letters #l5_4::before,
#g5_5_n:checked~#letters #l5_5::before,
#g6_1_n:checked~#letters #l6_1::before,
#g6_2_n:checked~#letters #l6_2::before,
#g6_3_n:checked~#letters #l6_3::before,
#g6_4_n:checked~#letters #l6_4::before,
#g6_5_n:checked~#letters #l6_5::before,
#keys [for$="_n"]::before {
	content: "N";
}

#w1_o:checked~#answer #a1::before,
#w2_o:checked~#answer #a2::before,
#w3_o:checked~#answer #a3::before,
#w4_o:checked~#answer #a4::before,
#w5_o:checked~#answer #a5::before,
#g1_1_o:checked~#letters #l1_1::before,
#g1_2_o:checked~#letters #l1_2::before,
#g1_3_o:checked~#letters #l1_3::before,
#g1_4_o:checked~#letters #l1_4::before,
#g1_5_o:checked~#letters #l1_5::before,
#g2_1_o:checked~#letters #l2_1::before,
#g2_2_o:checked~#letters #l2_2::before,
#g2_3_o:checked~#letters #l2_3::before,
#g2_4_o:checked~#letters #l2_4::before,
#g2_5_o:checked~#letters #l2_5::before,
#g3_1_o:checked~#letters #l3_1::before,
#g3_2_o:checked~#letters #l3_2::before,
#g3_3_o:checked~#letters #l3_3::before,
#g3_4_o:checked~#letters #l3_4::before,
#g3_5_o:checked~#letters #l3_5::before,
#g4_1_o:checked~#letters #l4_1::before,
#g4_2_o:checked~#letters #l4_2::before,
#g4_3_o:checked~#letters #l4_3::before,
#g4_4_o:checked~#letters #l4_4::before,
#g4_5_o:checked~#letters #l4_5::before,
#g5_1_o:checked~#letters #l5_1::before,
#g5_2_o:checked~#letters #l5_2::before,
#g5_3_o:checked~#letters #l5_3::before,
#g5_4_o:checked~#letters #l5_4::before,
#g5_5_o:checked~#letters #l5_5::before,
#g6_1_o:checked~#letters #l6_1::before,
#g6_2_o:checked~#letters #l6_2::before,
#g6_3_o:checked~#letters #l6_3::before,
#g6_4_o:checked~#letters #l6_4::before,
#g6_5_o:checked~#letters #l6_5::before,
#keys [for$="_o"]::before {
	content: "O";
}

#w1_p:checked~#answer #a1::before,
#w2_p:checked~#answer #a2::before,
#w3_p:checked~#answer #a3::before,
#w4_p:checked~#answer #a4::before,
#w5_p:checked~#answer #a5::before,
#g1_1_p:checked~#letters #l1_1::before,
#g1_2_p:checked~#letters #l1_2::before,
#g1_3_p:checked~#letters #l1_3::before,
#g1_4_p:checked~#letters #l1_4::before,
#g1_5_p:checked~#letters #l1_5::before,
#g2_1_p:checked~#letters #l2_1::before,
#g2_2_p:checked~#letters #l2_2::before,
#g2_3_p:checked~#letters #l2_3::before,
#g2_4_p:checked~#letters #l2_4::before,
#g2_5_p:checked~#letters #l2_5::before,
#g3_1_p:checked~#letters #l3_1::before,
#g3_2_p:checked~#letters #l3_2::before,
#g3_3_p:checked~#letters #l3_3::before,
#g3_4_p:checked~#letters #l3_4::before,
#g3_5_p:checked~#letters #l3_5::before,
#g4_1_p:checked~#letters #l4_1::before,
#g4_2_p:checked~#letters #l4_2::before,
#g4_3_p:checked~#letters #l4_3::before,
#g4_4_p:checked~#letters #l4_4::before,
#g4_5_p:checked~#letters #l4_5::before,
#g5_1_p:checked~#letters #l5_1::before,
#g5_2_p:checked~#letters #l5_2::before,
#g5_3_p:checked~#letters #l5_3::before,
#g5_4_p:checked~#letters #l5_4::before,
#g5_5_p:checked~#letters #l5_5::before,
#g6_1_p:checked~#letters #l6_1::before,
#g6_2_p:checked~#letters #l6_2::before,
#g6_3_p:checked~#letters #l6_3::before,
#g6_4_p:checked~#letters #l6_4::before,
#g6_5_p:checked~#letters #l6_5::before,
#keys [for$="_p"]::before {
	content: "P";
}

#w1_q:checked~#answer #a1::before,
#w2_q:checked~#answer #a2::before,
#w3_q:checked~#answer #a3::before,
#w4_q:checked~#answer #a4::before,
#w5_q:checked~#answer #a5::before,
#g1_1_q:checked~#letters #l1_1::before,
#g1_2_q:checked~#letters #l1_2::before,
#g1_3_q:checked~#letters #l1_3::before,
#g1_4_q:checked~#letters #l1_4::before,
#g1_5_q:checked~#letters #l1_5::before,
#g2_1_q:checked~#letters #l2_1::before,
#g2_2_q:checked~#letters #l2_2::before,
#g2_3_q:checked~#letters #l2_3::before,
#g2_4_q:checked~#letters #l2_4::before,
#g2_5_q:checked~#letters #l2_5::before,
#g3_1_q:checked~#letters #l3_1::before,
#g3_2_q:checked~#letters #l3_2::before,
#g3_3_q:checked~#letters #l3_3::before,
#g3_4_q:checked~#letters #l3_4::before,
#g3_5_q:checked~#letters #l3_5::before,
#g4_1_q:checked~#letters #l4_1::before,
#g4_2_q:checked~#letters #l4_2::before,
#g4_3_q:checked~#letters #l4_3::before,
#g4_4_q:checked~#letters #l4_4::before,
#g4_5_q:checked~#letters #l4_5::before,
#g5_1_q:checked~#letters #l5_1::before,
#g5_2_q:checked~#letters #l5_2::before,
#g5_3_q:checked~#letters #l5_3::before,
#g5_4_q:checked~#letters #l5_4::before,
#g5_5_q:checked~#letters #l5_5::before,
#g6_1_q:checked~#letters #l6_1::before,
#g6_2_q:checked~#letters #l6_2::before,
#g6_3_q:checked~#letters #l6_3::before,
#g6_4_q:checked~#letters #l6_4::before,
#g6_5_q:checked~#letters #l6_5::before,
#keys [for$="_q"]::before {
	content: "Q";
}

#w1_r:checked~#answer #a1::before,
#w2_r:checked~#answer #a2::before,
#w3_r:checked~#answer #a3::before,
#w4_r:checked~#answer #a4::before,
#w5_r:checked~#answer #a5::before,
#g1_1_r:checked~#letters #l1_1::before,
#g1_2_r:checked~#letters #l1_2::before,
#g1_3_r:checked~#letters #l1_3::before,
#g1_4_r:checked~#letters #l1_4::before,
#g1_5_r:checked~#letters #l1_5::before,
#g2_1_r:checked~#letters #l2_1::before,
#g2_2_r:checked~#letters #l2_2::before,
#g2_3_r:checked~#letters #l2_3::before,
#g2_4_r:checked~#letters #l2_4::before,
#g2_5_r:checked~#letters #l2_5::before,
#g3_1_r:checked~#letters #l3_1::before,
#g3_2_r:checked~#letters #l3_2::before,
#g3_3_r:checked~#letters #l3_3::before,
#g3_4_r:checked~#letters #l3_4::before,
#g3_5_r:checked~#letters #l3_5::before,
#g4_1_r:checked~#letters #l4_1::before,
#g4_2_r:checked~#letters #l4_2::before,
#g4_3_r:checked~#letters #l4_3::before,
#g4_4_r:checked~#letters #l4_4::before,
#g4_5_r:checked~#letters #l4_5::before,
#g5_1_r:checked~#letters #l5_1::before,
#g5_2_r:checked~#letters #l5_2::before,
#g5_3_r:checked~#letters #l5_3::before,
#g5_4_r:checked~#letters #l5_4::before,
#g5_5_r:checked~#letters #l5_5::before,
#g6_1_r:checked~#letters #l6_1::before,
#g6_2_r:checked~#letters #l6_2::before,
#g6_3_r:checked~#letters #l6_3::before,
#g6_4_r:checked~#letters #l6_4::before,
#g6_5_r:checked~#letters #l6_5::before,
#keys [for$="_r"]::before {
	content: "R";
}

#w1_s:checked~#answer #a1::before,
#w2_s:checked~#answer #a2::before,
#w3_s:checked~#answer #a3::before,
#w4_s:checked~#answer #a4::before,
#w5_s:checked~#answer #a5::before,
#g1_1_s:checked~#letters #l1_1::before,
#g1_2_s:checked~#letters #l1_2::before,
#g1_3_s:checked~#letters #l1_3::before,
#g1_4_s:checked~#letters #l1_4::before,
#g1_5_s:checked~#letters #l1_5::before,
#g2_1_s:checked~#letters #l2_1::before,
#g2_2_s:checked~#letters #l2_2::before,
#g2_3_s:checked~#letters #l2_3::before,
#g2_4_s:checked~#letters #l2_4::before,
#g2_5_s:checked~#letters #l2_5::before,
#g3_1_s:checked~#letters #l3_1::before,
#g3_2_s:checked~#letters #l3_2::before,
#g3_3_s:checked~#letters #l3_3::before,
#g3_4_s:checked~#letters #l3_4::before,
#g3_5_s:checked~#letters #l3_5::before,
#g4_1_s:checked~#letters #l4_1::before,
#g4_2_s:checked~#letters #l4_2::before,
#g4_3_s:checked~#letters #l4_3::before,
#g4_4_s:checked~#letters #l4_4::before,
#g4_5_s:checked~#letters #l4_5::before,
#g5_1_s:checked~#letters #l5_1::before,
#g5_2_s:checked~#letters #l5_2::before,
#g5_3_s:checked~#letters #l5_3::before,
#g5_4_s:checked~#letters #l5_4::before,
#g5_5_s:checked~#letters #l5_5::before,
#g6_1_s:checked~#letters #l6_1::before,
#g6_2_s:checked~#letters #l6_2::before,
#g6_3_s:checked~#letters #l6_3::before,
#g6_4_s:checked~#letters #l6_4::before,
#g6_5_s:checked~#letters #l6_5::before,
#keys [for$="_s"]::before {
	content: "S";
}

#w1_t:checked~#answer #a1::before,
#w2_t:checked~#answer #a2::before,
#w3_t:checked~#answer #a3::before,
#w4_t:checked~#answer #a4::before,
#w5_t:checked~#answer #a5::before,
#g1_1_t:checked~#letters #l1_1::before,
#g1_2_t:checked~#letters #l1_2::before,
#g1_3_t:checked~#letters #l1_3::before,
#g1_4_t:checked~#letters #l1_4::before,
#g1_5_t:checked~#letters #l1_5::before,
#g2_1_t:checked~#letters #l2_1::before,
#g2_2_t:checked~#letters #l2_2::before,
#g2_3_t:checked~#letters #l2_3::before,
#g2_4_t:checked~#letters #l2_4::before,
#g2_5_t:checked~#letters #l2_5::before,
#g3_1_t:checked~#letters #l3_1::before,
#g3_2_t:checked~#letters #l3_2::before,
#g3_3_t:checked~#letters #l3_3::before,
#g3_4_t:checked~#letters #l3_4::before,
#g3_5_t:checked~#letters #l3_5::before,
#g4_1_t:checked~#letters #l4_1::before,
#g4_2_t:checked~#letters #l4_2::before,
#g4_3_t:checked~#letters #l4_3::before,
#g4_4_t:checked~#letters #l4_4::before,
#g4_5_t:checked~#letters #l4_5::before,
#g5_1_t:checked~#letters #l5_1::before,
#g5_2_t:checked~#letters #l5_2::before,
#g5_3_t:checked~#letters #l5_3::before,
#g5_4_t:checked~#letters #l5_4::before,
#g5_5_t:checked~#letters #l5_5::before,
#g6_1_t:checked~#letters #l6_1::before,
#g6_2_t:checked~#letters #l6_2::before,
#g6_3_t:checked~#letters #l6_3::before,
#g6_4_t:checked~#letters #l6_4::before,
#g6_5_t:checked~#letters #l6_5::before,
#keys [for$="_t"]::before {
	content: "T";
}

#w1_u:checked~#answer #a1::before,
#w2_u:checked~#answer #a2::before,
#w3_u:checked~#answer #a3::before,
#w4_u:checked~#answer #a4::before,
#w5_u:checked~#answer #a5::before,
#g1_1_u:checked~#letters #l1_1::before,
#g1_2_u:checked~#letters #l1_2::before,
#g1_3_u:checked~#letters #l1_3::before,
#g1_4_u:checked~#letters #l1_4::before,
#g1_5_u:checked~#letters #l1_5::before,
#g2_1_u:checked~#letters #l2_1::before,
#g2_2_u:checked~#letters #l2_2::before,
#g2_3_u:checked~#letters #l2_3::before,
#g2_4_u:checked~#letters #l2_4::before,
#g2_5_u:checked~#letters #l2_5::before,
#g3_1_u:checked~#letters #l3_1::before,
#g3_2_u:checked~#letters #l3_2::before,
#g3_3_u:checked~#letters #l3_3::before,
#g3_4_u:checked~#letters #l3_4::before,
#g3_5_u:checked~#letters #l3_5::before,
#g4_1_u:checked~#letters #l4_1::before,
#g4_2_u:checked~#letters #l4_2::before,
#g4_3_u:checked~#letters #l4_3::before,
#g4_4_u:checked~#letters #l4_4::before,
#g4_5_u:checked~#letters #l4_5::before,
#g5_1_u:checked~#letters #l5_1::before,
#g5_2_u:checked~#letters #l5_2::before,
#g5_3_u:checked~#letters #l5_3::before,
#g5_4_u:checked~#letters #l5_4::before,
#g5_5_u:checked~#letters #l5_5::before,
#g6_1_u:checked~#letters #l6_1::before,
#g6_2_u:checked~#letters #l6_2::before,
#g6_3_u:checked~#letters #l6_3::before,
#g6_4_u:checked~#letters #l6_4::before,
#g6_5_u:checked~#letters #l6_5::before,
#keys [for$="_u"]::before {
	content: "U";
}

#w1_v:checked~#answer #a1::before,
#w2_v:checked~#answer #a2::before,
#w3_v:checked~#answer #a3::before,
#w4_v:checked~#answer #a4::before,
#w5_v:checked~#answer #a5::before,
#g1_1_v:checked~#letters #l1_1::before,
#g1_2_v:checked~#letters #l1_2::before,
#g1_3_v:checked~#letters #l1_3::before,
#g1_4_v:checked~#letters #l1_4::before,
#g1_5_v:checked~#letters #l1_5::before,
#g2_1_v:checked~#letters #l2_1::before,
#g2_2_v:checked~#letters #l2_2::before,
#g2_3_v:checked~#letters #l2_3::before,
#g2_4_v:checked~#letters #l2_4::before,
#g2_5_v:checked~#letters #l2_5::before,
#g3_1_v:checked~#letters #l3_1::before,
#g3_2_v:checked~#letters #l3_2::before,
#g3_3_v:checked~#letters #l3_3::before,
#g3_4_v:checked~#letters #l3_4::before,
#g3_5_v:checked~#letters #l3_5::before,
#g4_1_v:checked~#letters #l4_1::before,
#g4_2_v:checked~#letters #l4_2::before,
#g4_3_v:checked~#letters #l4_3::before,
#g4_4_v:checked~#letters #l4_4::before,
#g4_5_v:checked~#letters #l4_5::before,
#g5_1_v:checked~#letters #l5_1::before,
#g5_2_v:checked~#letters #l5_2::before,
#g5_3_v:checked~#letters #l5_3::before,
#g5_4_v:checked~#letters #l5_4::before,
#g5_5_v:checked~#letters #l5_5::before,
#g6_1_v:checked~#letters #l6_1::before,
#g6_2_v:checked~#letters #l6_2::before,
#g6_3_v:checked~#letters #l6_3::before,
#g6_4_v:checked~#letters #l6_4::before,
#g6_5_v:checked~#letters #l6_5::before,
#keys [for$="_v"]::before {
	content: "V";
}

#w1_w:checked~#answer #a1::before,
#w2_w:checked~#answer #a2::before,
#w3_w:checked~#answer #a3::before,
#w4_w:checked~#answer #a4::before,
#w5_w:checked~#answer #a5::before,
#g1_1_w:checked~#letters #l1_1::before,
#g1_2_w:checked~#letters #l1_2::before,
#g1_3_w:checked~#letters #l1_3::before,
#g1_4_w:checked~#letters #l1_4::before,
#g1_5_w:checked~#letters #l1_5::before,
#g2_1_w:checked~#letters #l2_1::before,
#g2_2_w:checked~#letters #l2_2::before,
#g2_3_w:checked~#letters #l2_3::before,
#g2_4_w:checked~#letters #l2_4::before,
#g2_5_w:checked~#letters #l2_5::before,
#g3_1_w:checked~#letters #l3_1::before,
#g3_2_w:checked~#letters #l3_2::before,
#g3_3_w:checked~#letters #l3_3::before,
#g3_4_w:checked~#letters #l3_4::before,
#g3_5_w:checked~#letters #l3_5::before,
#g4_1_w:checked~#letters #l4_1::before,
#g4_2_w:checked~#letters #l4_2::before,
#g4_3_w:checked~#letters #l4_3::before,
#g4_4_w:checked~#letters #l4_4::before,
#g4_5_w:checked~#letters #l4_5::before,
#g5_1_w:checked~#letters #l5_1::before,
#g5_2_w:checked~#letters #l5_2::before,
#g5_3_w:checked~#letters #l5_3::before,
#g5_4_w:checked~#letters #l5_4::before,
#g5_5_w:checked~#letters #l5_5::before,
#g6_1_w:checked~#letters #l6_1::before,
#g6_2_w:checked~#letters #l6_2::before,
#g6_3_w:checked~#letters #l6_3::before,
#g6_4_w:checked~#letters #l6_4::before,
#g6_5_w:checked~#letters #l6_5::before,
#keys [for$="_w"]::before {
	content: "W";
}

#w1_x:checked~#answer #a1::before,
#w2_x:checked~#answer #a2::before,
#w3_x:checked~#answer #a3::before,
#w4_x:checked~#answer #a4::before,
#w5_x:checked~#answer #a5::before,
#g1_1_x:checked~#letters #l1_1::before,
#g1_2_x:checked~#letters #l1_2::before,
#g1_3_x:checked~#letters #l1_3::before,
#g1_4_x:checked~#letters #l1_4::before,
#g1_5_x:checked~#letters #l1_5::before,
#g2_1_x:checked~#letters #l2_1::before,
#g2_2_x:checked~#letters #l2_2::before,
#g2_3_x:checked~#letters #l2_3::before,
#g2_4_x:checked~#letters #l2_4::before,
#g2_5_x:checked~#letters #l2_5::before,
#g3_1_x:checked~#letters #l3_1::before,
#g3_2_x:checked~#letters #l3_2::before,
#g3_3_x:checked~#letters #l3_3::before,
#g3_4_x:checked~#letters #l3_4::before,
#g3_5_x:checked~#letters #l3_5::before,
#g4_1_x:checked~#letters #l4_1::before,
#g4_2_x:checked~#letters #l4_2::before,
#g4_3_x:checked~#letters #l4_3::before,
#g4_4_x:checked~#letters #l4_4::before,
#g4_5_x:checked~#letters #l4_5::before,
#g5_1_x:checked~#letters #l5_1::before,
#g5_2_x:checked~#letters #l5_2::before,
#g5_3_x:checked~#letters #l5_3::before,
#g5_4_x:checked~#letters #l5_4::before,
#g5_5_x:checked~#letters #l5_5::before,
#g6_1_x:checked~#letters #l6_1::before,
#g6_2_x:checked~#letters #l6_2::before,
#g6_3_x:checked~#letters #l6_3::before,
#g6_4_x:checked~#letters #l6_4::before,
#g6_5_x:checked~#letters #l6_5::before,
#keys [for$="_x"]::before {
	content: "X";
}

#w1_y:checked~#answer #a1::before,
#w2_y:checked~#answer #a2::before,
#w3_y:checked~#answer #a3::before,
#w4_y:checked~#answer #a4::before,
#w5_y:checked~#answer #a5::before,
#g1_1_y:checked~#letters #l1_1::before,
#g1_2_y:checked~#letters #l1_2::before,
#g1_3_y:checked~#letters #l1_3::before,
#g1_4_y:checked~#letters #l1_4::before,
#g1_5_y:checked~#letters #l1_5::before,
#g2_1_y:checked~#letters #l2_1::before,
#g2_2_y:checked~#letters #l2_2::before,
#g2_3_y:checked~#letters #l2_3::before,
#g2_4_y:checked~#letters #l2_4::before,
#g2_5_y:checked~#letters #l2_5::before,
#g3_1_y:checked~#letters #l3_1::before,
#g3_2_y:checked~#letters #l3_2::before,
#g3_3_y:checked~#letters #l3_3::before,
#g3_4_y:checked~#letters #l3_4::before,
#g3_5_y:checked~#letters #l3_5::before,
#g4_1_y:checked~#letters #l4_1::before,
#g4_2_y:checked~#letters #l4_2::before,
#g4_3_y:checked~#letters #l4_3::before,
#g4_4_y:checked~#letters #l4_4::before,
#g4_5_y:checked~#letters #l4_5::before,
#g5_1_y:checked~#letters #l5_1::before,
#g5_2_y:checked~#letters #l5_2::before,
#g5_3_y:checked~#letters #l5_3::before,
#g5_4_y:checked~#letters #l5_4::before,
#g5_5_y:checked~#letters #l5_5::before,
#g6_1_y:checked~#letters #l6_1::before,
#g6_2_y:checked~#letters #l6_2::before,
#g6_3_y:checked~#letters #l6_3::before,
#g6_4_y:checked~#letters #l6_4::before,
#g6_5_y:checked~#letters #l6_5::before,
#keys [for$="_y"]::before {
	content: "Y";
}

#w1_z:checked~#answer #a1::before,
#w2_z:checked~#answer #a2::before,
#w3_z:checked~#answer #a3::before,
#w4_z:checked~#answer #a4::before,
#w5_z:checked~#answer #a5::before,
#g1_1_z:checked~#letters #l1_1::before,
#g1_2_z:checked~#letters #l1_2::before,
#g1_3_z:checked~#letters #l1_3::before,
#g1_4_z:checked~#letters #l1_4::before,
#g1_5_z:checked~#letters #l1_5::before,
#g2_1_z:checked~#letters #l2_1::before,
#g2_2_z:checked~#letters #l2_2::before,
#g2_3_z:checked~#letters #l2_3::before,
#g2_4_z:checked~#letters #l2_4::before,
#g2_5_z:checked~#letters #l2_5::before,
#g3_1_z:checked~#letters #l3_1::before,
#g3_2_z:checked~#letters #l3_2::before,
#g3_3_z:checked~#letters #l3_3::before,
#g3_4_z:checked~#letters #l3_4::before,
#g3_5_z:checked~#letters #l3_5::before,
#g4_1_z:checked~#letters #l4_1::before,
#g4_2_z:checked~#letters #l4_2::before,
#g4_3_z:checked~#letters #l4_3::before,
#g4_4_z:checked~#letters #l4_4::before,
#g4_5_z:checked~#letters #l4_5::before,
#g5_1_z:checked~#letters #l5_1::before,
#g5_2_z:checked~#letters #l5_2::before,
#g5_3_z:checked~#letters #l5_3::before,
#g5_4_z:checked~#letters #l5_4::before,
#g5_5_z:checked~#letters #l5_5::before,
#g6_1_z:checked~#letters #l6_1::before,
#g6_2_z:checked~#letters #l6_2::before,
#g6_3_z:checked~#letters #l6_3::before,
#g6_4_z:checked~#letters #l6_4::before,
#g6_5_z:checked~#letters #l6_5::before,
#keys [for$="_z"]::before {
	content: "Z";
}
