@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { 
    -webkit-font-smoothing:antialiased; 
    -moz-font-smoothing:antialiased; 
    -ms-font-smoothing:antialiased; 
    -o-font-smoothing:antialiased; 
}

body {
    margin:0px;
    padding:0px;
    font-family: "Open Sans", arial;
    background:#0f6d39;
    color:#fff;
    font-weight:300;
}