* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Recursive", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  background-color: #333;
}

.fill {
    background-image: url('https://media0.giphy.com/media/3o7TKEW3oxdTPQnIEU/giphy.gif');
    background-position: center;
    position: relative;
    height: 200px;
    width: 200px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.empty {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
    background: white;
}
  
.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
  
  