@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*, *::before, *::after {
	box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}