* {
	box-sizing: border-box;
}

:root {
    --hue: 200;
    --surface: #262626;
    --text: #f1f3f4;
    --text-size: 2rem;
    --brand-1: #a3daf5;
    --outline-1: #454f54;
    --outline-2: #00aaff;
    --outline-3: #99ddff;
    --red: #ff401a;
    --yellow: #ffd91a;
    --blue: #1a66ff;
    --steel: #1c2022;
    --game-size: min(400px, 25px);
    --spacing: 8px;
}


@media only screen and (max-height: 600px) {
	:root {
		--text-size: 1rem;
		--spacing: 4px;
	}
}

.material-icons, .material-icons-outlined {
	font-size: var(--text-size);
	user-select: none;
	color: var(--text);
}

html {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background: var(--surface);
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	position: relative;
	display: inline-block;
	width: max-content;
}

header, footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 calc(var(--spacing) * 4);
}

.sticky-sides {
	position: sticky;
	left: 0;
	right: 0;
	width: 100vw;
}

.rotate-90 {
	transform: rotate(90deg);
}

.rotate-135 {
	transform: rotate(135deg);
}

.accounts {
	display: flex;
	list-style-type: none;
	padding: 0;
}

.accounts>li+li {
	margin-left: var(--spacing);
}

.accounts>li>img {
	border-radius: 9999px;
	border: var(--outline-1) 2px solid;
	padding: 2px;
	height: calc(var(--text-size) * 2);
	width: calc(var(--text-size) * 2);
}

.info-block {
	display: flex;
	align-items: center;
	color: var(--text);
}

.info-block>* {
	display: flex;
	align-items: center;
	font-size: var(--text-size);
}

.info-block>*+* {
	margin-left: calc(var(--spacing) * 2);
}

.game-list {
	display: grid;
	grid-auto-columns: var(--game-size);
	grid-template-rows: var(--game-size);
	grid-auto-flow: column;
	list-style-type: none;
	justify-items: center;
	align-items: center;
	padding: 0 calc(var(--spacing) * 16);
}

.game-list>li {
	scroll-margin: calc(var(--spacing) * 16);
	height: var(--game-size);
	width: calc(var(--game-size));
	pointer-events: none;
}

.game-list>li>a {
	height: 100%;
	width: 100%;
	display: block;
	margin: auto;
	pointer-events: all;
	border: calc(var(--spacing) / 2) solid transparent;
	padding: calc(var(--spacing) / 2);
}

.game-list>li>a>img {
	height: 100%;
	width: 100%;
}

.game-list>li:target>a {
	animation: game-active 0.5s linear alternate infinite;
}

@keyframes game-active {
	from {
		border-color: var(--outline-2);
	}
	to {
		border-color: var(--outline-3);
	}
}

.action-list {
	display: flex;
	grid-auto-flow: column;
	width: 100vw;
	justify-content: center;
	padding: calc(var(--spacing) * 4);
}

.action-list>div {
	border: calc(var(--spacing) / 4) solid var(--steel);
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--text-size) * 2.5);
	height: calc(var(--text-size) * 2.5);
	border-radius: 9999px;
	background-color: var(--outline-1);
	text-align: center;
	margin: calc(var(--spacing));
}

.action-list>div>span {
	font-size: calc(var(--text-size) * 1.5);
}

hr {
	margin: calc(var(--spacing) * 2);
	color: var(--text);
}

.red {
	color: var(--red);
}

.yellow {
	color: var(--yellow);
}

.blue {
	color: var(--blue);
}