

/* General bits and bobs */

h1 {
    font-size: 60px;
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
}

h1:before {
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    display: inline-block;
}

/* Cowboy Poop */

.poop {
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 60px;
}

.poop:before {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    display: inline-block;
}

.cowboy-poop:before {
    content: '🤠';
    height: 28%;
    transform: translate(0, 24%) scale(1);
}

/* Spider Shocked Face */

.spidey {
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    margin: 0 20px 0 0;
}

.spidey:before {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    display: inline-block;
}

.spidey-ohno:before {
    content: "🕷";
    transform: translate(20%, -20%) rotate(-20deg) scale(0.4);
}

/* King Dog */

.animal-kingdom {
    font-size: 80px;
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 60px;
}

.animal-kingdom:before {
    content: '🤴';
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    display: inline-block;
    width: 100%;
    height: 40%;
    display: inline-block;
    transform: translate(0, -25%);
}

/* Split Colour Butterfly */

.butterfly:before {
    filter: hue-rotate(60deg);
}

/* Cool Pig */

.cool-animals {
    font-size: 80px;
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 60px;
}

.cool-animals:before {
    content: '🕶';
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: inline-block;
    transform: translate(0, 10%) scale(0.9);
}

.cool-animals.pig:before {
    transform: translate(0, 0%) scale(0.9);
}
