@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right,#fffcdc,#d9a7c7); 
  background-repeat: no-repeat;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #5b073c;
}

div {
  margin: 15px;
}

button {
  margin: 0.5px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #e55cb0;
  color: #fff;
}

.generator {
  font-size: 20px;
  padding: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.client-text {
  text-align: center;
  width: 100;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}