@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--img-width: 200px;
	--img-height: 174px;
	--img-padding: 20px;
}

body {
	font-family: "Catamaran", sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background: repeating-linear-gradient(-45deg,#f6f6f6,#f6f6f6 6px,#f0f0f0 0,#f0f0f0 12px);
	color: #070707;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: calc(var(--img-padding) * 4) 0 calc(var(--img-padding) * 2);
}

footer {
    font-family: "Catamaran", sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h1 {
	font-size: 54px;
	font-weight: 800;
	line-height: 1.2;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 1.5;
}

.flickity-viewport {
	overflow: visible;
}

.timeline {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: calc(var(--img-padding) * 2);
}

.timeline:before, .timeline:after {
	display: block;
	background: url(https://mario.nintendo.com/static/pipe-2x-1a62c181bb0bcd6a84b8b0dd4e31d490.png) no-repeat 0 0;
	position: absolute;
	content: "";
	background-size: auto 100%;
	background-position: left center;
	width: 12%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

.timeline:before {
	left: 0;
	transform-origin: center center;
	transform: scaleX(-1);
}

.timeline:after {
	right: 0;
}

