@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --background-color: #3762ff;
    --primary-color: #fff649;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0;
    height: 75vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    margin: 15px 0 0;
    text-transform: uppercase;
    color: var(--primary-color);
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: var(--secondary-color);
}

.currency {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

.swap-container, .rate-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#rate {
    font-size: xx-large;
}

#currency-one, #currency-two, #amount-one, #amount-two, #swap {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

#currency-one, #currency-two, #swap {
    cursor: pointer;
    background-color: white;
}